@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/futura/futura-book-bold.woff2") format("woff2"), url("../fonts/futura/futura-book-bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/futura/futuramediumctt-normal.woff2) format("woff2"), url("../fonts/futura/futuramediumctt-normal.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SchoolBook";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cristal/schoolbook-cyrillic.woff2") format("woff2"), url("../fonts/cristal/schoolbook-cyrillic.woff") format("woff");
    font-display: swap;
}

